<!DOCTYPE html>
<html>
<head>
  <title>Locksmith</title>
  <%= stylesheet_link_tag    'locksmith/application', media: 'all' %>
  <%= javascript_include_tag 'locksmith/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |type, message| %>
      <p class="flash <%= type %>"><%= message %></p>
  <% end %>
  <nav>
    <% if admin? %>
        <%= link_to 'Users', admin_users_path %>
    <% end %>
    <% if signed_in? %>
        <%= link_to 'My applications', root_path %>
        <%= form_tag signout_path, method: :delete do %>
            <%= submit_tag 'Sign out' %>
        <% end %>
    <% end %>
  </nav>

  <main>
    <%= yield %>
  </main>
  <div class="auth-box">
    <%= yield 'auth' %>
  </div>
  <!--<%= debug(params) if Rails.env.development? %>-->
</body>
</html>
